<launch>
    <arg name="model" default="$(find dtw_robot)/xacro/dtw_robot.xacro" />
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="robot_name" default="dtw_robot"/>
    <arg name="gmapping" default="false"/>
    <arg name="amcl" default="false"/>
    <arg name="move_base" default="false"/>

    <group ns="$(arg robot_name)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
        <param name="tf_prefix" value="$(arg robot_name)_tf"/>
        
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="false"/>
        </node>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" value="$(arg robot_name)_tf"/>
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args=" -urdf -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description"/>
    </group>

    <group if="$(arg gmapping)">
        <include file="$(find dtw_robot)/launch/gmapping.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="set_base_frame" value="$(arg robot_name)_tf/base_link"/>
            <arg name="set_odom_frame" value="$(arg robot_name)_tf/odom"/>
            <arg name="set_map_frame" value="map"/>
        </include>
    </group>

    <group if="$(arg amcl)">
        <include file="$(find dtw_robot)/launch/amcl.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="initial_pose_x" value="$(arg x)"/>
            <arg name="initial_pose_y" value="$(arg y)"/>
            <!-- <arg name="scan_topic" value="$(arg robot_name)/front_laser/scan"/> -->
        </include>
    </group>

    <group if="$(arg move_base)">
        <include file="$(find dtw_robot)/launch/move_base.launch">
            <arg name="robot_name" default="$(arg robot_name)"/>
            <!-- <arg name="global_costmap_global_frame" default="map"/>
            <arg name="global_costmap_robot_base_frame" default="$(arg robot_name)_tf/base_link"/>
            <arg name="sensor_frame" default="$(arg robot_name)_tf/front_laser_link"/>
            <arg name="scan_topic" default="$(arg robot_name)/scan"/>
            <arg name="local_costmap_global_frame" default="$(arg robot_name)/odom"/>
            <arg name="local_costmap_robot_base_frame" default="$(arg robot_name)/base_link"/>
            <arg name="common_sensor_frame" default="$(arg robot_name)_tf/front_laser_link"/> -->
        </include>
    </group>

</launch>