<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="dtw_robot"/>
    <arg name="global_costmap_global_frame" default="map"/>
    <arg name="global_costmap_robot_base_frame" default="$(arg robot_name)_tf/base_link"/>
    <arg name="sensor_frame" default="$(arg robot_name)_tf/front_laser_link"/>
    <arg name="scan_topic" default="$(arg robot_name)/scan"/>
    <arg name="local_costmap_global_frame" default="$(arg robot_name)/odom"/>
    <arg name="local_costmap_robot_base_frame" default="$(arg robot_name)/base_link"/>
    <arg name="common_sensor_frame" default="$(arg robot_name)_tf/front_laser_link"/>


    <node pkg="move_base" type="move_base" name="$(arg robot_name)_move_base" respawn="false">
        <rosparam command="load" file="$(find dtw_robot)/config/move_base/base_local_planner_params.yaml"/>
        <rosparam command="load" file="$(find dtw_robot)/config/move_base/costmap_common_params.yaml"/>
        <rosparam command="load" file="$(find dtw_robot)/config/move_base/global_costmap_params.yaml"/>
        <rosparam command="load" file="$(find dtw_robot)/config/move_base/local_costmap_params.yaml"/>
        <rosparam command="load" file="$(find dtw_robot)/config/move_base/move_base_params.yaml"/>
        <param name="global_costmap/global_frame" value="$(arg global_costmap_global_frame)"/>
        <param name="global_costmap/robot_base_frame" value="$(arg global_costmap_robot_base_frame)"/>
        <param name="local_costmap/laser_scan_sensor/sensor_frame" value="$(arg sensor_frame)"/>
        <param name="local_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
        <param name="local_costmap/global_frame" value="$(arg local_costmap_global_frame)"/>
        <param name="local_costmap/robot_base_frame" value="$(arg local_costmap_robot_base_frame)"/>
        <param name="costmap_common_params/laser_scan_sensor/sensor_frame" value="common_sensor_frame"/>
    </node>
</launch>