<launch>
    <arg name="model" default="$(find dtw_robot)/xacro/dtw_robot.xacro" />
    <arg name="rvizconfig" default="$(find dtw_robot)/rviz/multi_robot.rviz" />  

    <!-- gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find dtw_robot)/worlds/test_room"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find dtw_robot)/launch/dtw_robot_spawn.launch">
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="robot_name" value="dtw_robot1"/>
    </include>
    <include file="$(find dtw_robot)/launch/dtw_robot_spawn.launch">
        <arg name="x" value="0"/>
        <arg name="y" value="1.0"/>
        <arg name="robot_name" value="dtw_robot2"/>
    </include>

    <node pkg="map_server" type="map_server" name="map_server" args="$(find dtw_robot)/resources/test_room_map/map.yaml">
        <param name="frame_id" value="map"/>
    </node>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>